
body {
    font-family: Roboto, sans-serif;
    color:#434455;
    background:#FFFFFF
    
}


h1,
h2,
h3,
h4,
p{
    margin-top: 0;
    margin-bottom: 0;
}


ul;
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}


img{
    display: block ;
}



.menu{

    font-family: "Raleway", sans-serif;
    display: flex;
    box-sizing: border-box;
    gap: 40px;
}



.menu-contact {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    gap: 40px;
    display: flex;
}


.head-navigation {
    display: flex;
    align-items: center;
}



.head-page-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: space-between;
    align-items: center;
    width: 1158px;

}

.container {
    width: 1158px;
    padding: 0 15px 0 15px;
} 


.head-page{
 display: flex;
 width: 1440px;
 border-bottom: 1px solid #e7e9fc

   
}


.logo-link {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px ;

}

.logo-title {
    color: #2e2f42;
    line-height: 1.17;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


.menu-link:hover {
    color: #404BBF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-link {
    color:#2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.menu-link:hover,
.menu-link:focus{
    color: #404BBF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu, .menu-contact, .team-cards, .presents-cards, .top-advantages {
    list-style-type: none;
}


.menu-contact-link{
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
}

.menu-contact-link:hover,
.menu-contact-link:focus  {
    color:#404BBF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.5;
    letter-spacing: 0.02em;
}

.main-page{
    background:  #2E2F42;
   width: 1440px;
    height: 600px;
    
    

}

.main-page-container{
padding-top: 188px;
padding-bottom: 188px;
    


}

.main-text {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: 472px;
    
  
}




    /* padding-bottom: 16px;
        padding-left: 32px;
        padding-right: 32px;
        margin-top: 48px;
        margin-right: 635px;
        margin-left: 636px;
        display: flex;
        align-items: flex-start;
        column-gap: 10px; */
       
   

.main-button {

    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    margin: 48px 635px 188px 636px;
    min-width: 169px;
    height: 56px;
    display: block;
    border: none;
    border-radius: 4px;

}


.main-button:hover,
.main-button:focus{
  
    background: #404BBF;
   
}
        

 button {
      cursor: pointer;
  }


  .advantages-container{
    padding: 120px 0 120px;

  }

 .top-advantages{
    display: flex;
   padding-top: 60px;
   gap: 24px;
   margin-left: 156px;
   margin-right: 156px;
   margin-bottom: 120px;
   

 }



.menu-advantages-item {
    color: #2E2F42;
    font-family: Roboto,sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing:0.02em;
    margin-bottom: 8px;
   
}


.menu-advantages{
    width: 264px;
    
}

.text-menu-advantages{
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-link, .menu-contact-link, .logo-link {
    text-decoration: none;
}

.team-list {
background: #F4F4FD;
flex-shrink: 0;
}

.team-names {
    color:#2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 32px;
}




.job-title {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing:0.02em;
   margin-top: 8px;
   margin-bottom: 32px;
   

}

.job-title-top{
    background:  #FFF;
    margin-bottom: 120px;
    display: flex;
    width: 264px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
       
}

.team-list-item {
    color:#2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing:0.02em;
    text-transform: capitalize;
    padding-top: 120px;
    padding-bottom: 72px;
}


.team-cards{
    display: flex;
    column-gap: 24px;
    margin-left: 156px ;
    margin-right: 156px;
    width: 264px;
  
    
}

.top-text{
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02;
    text-align: center; 
    margin-top: 120px;
    margin-left: 611px;
    margin-right: 611px;
    margin-bottom: 72px;
}


.presents-cards-text {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

/* .presents-cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin-left: 156px;
    margin-right: 156px;
    margin-bottom: 120px;
    width: 1128px;

} */


 .presents-cards-item {
    width: 360px;
  


}


.secondary-text {
    color: SLATE, #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.menu:hover,
.menu:focus {
    color: #404bbf;
    padding-bottom: 0px;
    justify-content: center;
    flex-shrink: 0;
}




.menu-contact-link:hover,
.menu-contact-link:focus {
    color: OCEAN, #404BBF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact {
    color: SLATE, #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
}

.last-page{
  background:  #2E2F42;
  height: 312px;
    
}

.last-page-text{
    color:#F4F4FD;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

.logo-title-fin{
    color:#F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03;
    
}

.menu-contact-item{
    
}